<div
  class="icon icon-fixed"
  (click)="toggleNav()"
  [ngClass]="openNavigation ? 'hide' : 'show'"
>
  <span></span>
  <span></span>
</div>
<div
  class="navigation"
  [ngClass]="openNavigation ? 'opened-nav' : 'closed-nav'"
>
  <div class="burger">
    <div
      class="icon"
      (click)="toggleNav()"
      [ngClass]="openNavigation ? 'opened-icon' : 'closed-icon'"
    >
      <span></span>
      <span></span>
    </div>
  </div>
  <a
    [routerLink]="['link-1']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 1</span><span>fa-1</span></a
  >
  <a
    [routerLink]="['link-2']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 2</span><span>fa-2</span></a
  >
  <a
    [routerLink]="['link-3']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 3</span><span>fa-3</span></a
  >
  <a
    [routerLink]="['link-4']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 4</span><span>fa-4</span></a
  >
  <a
    [routerLink]="['link-5']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 5</span><span>fa-6</span></a
  >
  <a
    [routerLink]="['link-6']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 6</span><span>fa-7</span></a
  >
  <a
    [routerLink]="['link-7']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 7</span><span>fa-8</span></a
  >
  <a
    [routerLink]="['link-8']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 8</span><span>fa-9</span></a
  >
  <a
    [routerLink]="['link-9']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 9</span><span>fa-10</span></a
  >
  <a
    [routerLink]="['link-10']"
    [ngClass]="openNavigation ? 'show-link' : 'hide-link'"
    ><span>Link 10</span><span>fa-11</span></a
  >
</div>
