$headerHeight: 60px;
$footerHeight: 60px;

$testColor: rgb(17, 0, 255);

$header-color: rgb(27, 27, 27);
$navigation-color: rgb(37, 37, 37);
$tools-color: rgba(255, 198, 194, 0.233);
$main-content-color: rgb(17, 17, 17);
$footer-color: rgb(27, 27, 27);
